.BestBooks {
  // 여기서 플레스 건드리자
  overflow: auto;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .BestBooks-top {
    white-space: wrap;

    #BestBooks-image {
      height: 200px;
    }
  }
}
