$btn-color: white;
$btn-hover: black;

.Detail {
  width: 1000px;
  h4 {
    font: {
      weight: bolder;
    }
  }
  .Detail-bottom {
    display: flex;
    flex-direction: column;
  }
  #Detail-img {
    width: 100%;
  }
  .Detail-data {
    display: flex;
    justify-content: center;
    font: {
      size: 14px;
      weight: 550;
    }
    margin: {
      top: 30px;
      bottom: 40px;
    }
  }
  .Detail-price {
    font: {
      weight: bolder;
    }
    .Detail-pm {
      display: flex;
      justify-content: center;
      .Detail-btn-item {
        background-color: $btn-color;
        width: 24px;
        height: 30px;
        margin: {
          left: 4px;
          right: 1px;
        }
        &:hover {
          border: 2px solid $btn-hover;
        }
      }
      .Detail-btn-item- {
        background-color: $btn-color;
        height: 30px;
        &:hover {
          border: 2px solid $btn-hover;
        }
      }
    }
  }
  .btn {
    font-size: 14px;
    width: 90px;
    height: 32px;
    margin: {
      right: 2px;
    }
    &:hover {
      outline: 1px solid red;
    }
  }
  .Detail-btn {
    border: none;
    background-color: rgb(40, 38, 138);
    &:hover {
      background-color: rgb(40, 38, 138);
      outline: 1px solid rgb(40, 38, 138);
    }
  }
  .Detail-bottom {
    border-bottom: 1px solid black;
    margin: {
      top: 30px;
      bottom: 30px;
    }
  }
}
