.Detail {
  width: 1000px;
  #Detail-img {
    width: 120px;
  }
  .btn {
    font-size: 14px;
    width: 90px;
    height: 32px;
  }
  .Detail-btn {
    border: none;
    background-color: rgb(40, 38, 138);
    &:hover {
      background-color: rgb(40, 38, 138);
      outline: 1px solid rgb(40, 38, 138);
    }
  }
}
