$main-back-color: rgb(245, 245, 245);

.MainPage {
  h5 {
    display: flex;
    font: {
      size: 16px;
      weight: bolder;
    }
  }
  min-width: 1000px;
  .MainPage-advertisement {
    height: 350px;
    padding: {
      top: 10px;
    }
    margin: {
      bottom: 40px;
    }
  }

  .MainPage-bestBox {
    display: flex;
    background-color: $main-back-color;
    height: 600px;
    margin: {
      top: 30px;
      bottom: 70px;
    }
  }

  .MainPage-recommended {
    display: flex;
    background-color: $main-back-color;
    height: 300px;
    margin: {
      top: 20px;
      bottom: 120px;
    }
  }
}
