.Ad {
  width: 1000px;

  margin: {
    top: 60px;
    bottom: 100px;
  }
  .Ad-top {
    #Ad-image {
      height: 200px;
      width: 200px;
    }
  }
}
.css-i4bv87-MuiSvgIcon-root {
  width: 12px !important;
}
